@model IList<Recipe>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Recipes</h1>
    <ul class="list-group list-group-flush">
        @foreach (var recipe in Model)
        {
            <partial name="PartialRowRecipe" model="recipe"/>
        }
    </ul>
</div>
